*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.password{
  flex-direction: column;
  display: flex;
  align-items: center;
   margin-top: 200px;
  background-color: rgb(4, 90, 210);
  height: 360px;
  width: 300px;
}
.passbox{
  margin-top: 5px;
  display: flex;
 gap: 5px;
}
.passbox input{
  padding: 10px;
 width: 170px;
}
.passbox button{
  padding: 10px;
   width: 70px;
  border: none;
}
.cover{
  display: flex;
  gap:20px;
  flex-direction: column;
  margin-top: 10px;
} 
.pass1{
  font-size: large;
}
.pass1 input{
  width: 30px;
  margin-left: 100px;
}
.pass2{
  font-size: large;
}
.pass2 input{
  width: 25px;
  margin-left: 82px;
}
.pass3{
  font-size: large;
}
.pass3 input{
  width: 25px;
  margin-left: 85px;
}
.pass4{
  font-size: large;
}
.pass4 input{
  width: 25px;
  margin-left: 102px;
}
.pass5{
  font-size: large;
}
.pass5 input{
  width: 25px;
  margin-left: 105px;
}
.pass6{
  border: none;
  display: flex;
  justify-content: center;
}
.pass6 button
{
  font-size: large;
  padding: 8px;
  border:none;
  width: 180px;
  cursor: pointer;
}